outputs
lora_model
model
*.pyc
*.out
*.gz
*.obj
*.out
*.egg-info
*__pycache__*
*outputs
*.pyc
*.idea
*data_batch_*
*.meta
*.html
*.whl
*.egg
*.pkl
*.json
*.jsonl
.vscode
*test_batch*
*/build/
*/dist
*/wandb/
*.pytest_cache/
*.DS_Store
*.lock
*/.ipynb_checkpoints/
docs/source/generated/*
fedlib/sbatch.sh
fedlib/benchmark/centralized_cifar10.py
paaa/datasets/advbench/model_answer
*ipynb_checkpoints
ray_results
paaa/BEAVERTAILS_RESULTS
paaa/stacked_bar_chart.csv
paaa/ft_datasets/BeaverTails.jsonl
.vscode-upload.json
paaa/ft_datasets/harmless.jsonl
paaa/slurm_scripts
dart
*.safetensors
pa3_results
results
unsloth_compiled_cache
new_results
trainer_output
llama_3_1B_MetaMathQA
llama_3_3B_MetaMathQA
llama_3_1B_MedQA
llama_1B_MetaMathQA_lr_new


train_logs
*.log
ckpts